
<style media="screen">
  #pixeltext {
    height: 500px;
    width: 100%;
    border: 2px dashed black;
    border-radius: 10px;
    font-size: 2em;
    font-family: Fira Sans;
    text-align: center;
    padding: 50px;
    padding-top: 200px;
    box-sizing: border-box;
  }
</style>

<div id="pixeltext">
  <div>Drag and drop a greyscale image here to convert it to a string.</div>
</div>
<div id="stringArea"></div>

<script type="text/javascript" src="/javascripts/pixeltext.js"></script>
