<header class="main">
	<a href="/"><h1>Tony Onodi</h1></a>
</header>
<ul class="header">
	<li><a href="/projects">Projects</a></li>
	<li><a href="https://twitter.com/TonyOnodi" target="_blank">twitter</a></li>
	<li><a href="https://github.com/tonyonodi" target="_blank">github</a></li>
	<li><a href="/about">Q&amp;A</a></li>
</ul>
