<article>
	<p>I'm a web developer from London. You can find me on <a href="https://github.com/tonyonodi" target="_blank">github</a> and <a href="https://twitter.com/tonyonodi" target="_blank">twitter</a>. That's all.</p>
</article>