<article class="about">
	<p class="question">
		Are you sure this is a Q&amp;A? It seems more like an about page?
	</p>

	<p class="answer">
		Bingo.
	</p>

	<p class="question">
		So you're doing your whole about page in a Q&amp;A format with yourself?
	</p>

	<p class="answer">
		Correct.
	</p>

	<p class="question">
		Doesn't that make you feel weird and self conscious at all?
	</p>

	<p class="answer">
		Very much so, can we just get on with it?
	</p>

	<p class="question">
		O-kayyyy. So what's your job?
	</p>

	<p class="answer">
		I've been a full stack web programmer for two years now and started dabbling in apps (with Apache Cordova) about six months ago.
	</p>

	<p class="question">
		Did you do any programming prior to that?
	</p>

	<p class="answer">
		Of course, I wrote my first program in QBASIC when I was maybe 11 or 12. And I dipped in and out of making highly unimpressive webs
		ites throughout my teens. I studied Physics with Computing at university which meant doing some C but I only really started getting into it once I graduated and it's been pretty constant in my life since then.</p>

	<p class="question">
		In reverse chronological order what were you doing prior to that?
	</p>

	<p class="answer">
		Three months of travelling around South East Asia; 9 months of working in an admin job; 3 years of studying Physics with Computing at
		 the University of Bath; school.</p>

	<p class="question">
		That'll do. What programming languages are you familiar with?
	</p>

	<p class="answer">
		I'm a JavaScript programmer by day but a bit of a PL geek by night. I'm passable with Clojure and Ruby, both of which I love. And have do
		ne a fair bit of PHP. Other languages I quite like the look of but don't know too well include Racket (and Scheme), Haskell, Python, Elixir, and Perl 6.</p>

	<p class="question">
		How about tools and frameworks?
	</p>

	<p class="answer">
		Well framework wise I've worked with meteor and WordPress. I love meteor. I've done more jquery work than I like to think about and dabble
		d in react. In terms of tools I know my way around a command line,  am moving from sublime text to atom and do alright in vim.
	</p>

	<p class="question">
		What's with the favicon? It's a bit odd.
	</p>

	<p class="answer">
		<a href="/projects/pixeltext">It's a secret.</a>
	</p>
</article>
