---
title: Tony Onodi
---

<h2 id="about-link"><a href="/about">About</a></h2>

<ul class="post-list">
	<li><a href="/posts/programming-with-expressions-in-javascript.html">Programming With Expressions in JavaScript</a></li>
</ul>