---
title: Tony Onodi
---

<h2 id="about-link"><a href="/about">About</a></h2>

<ul class="post-list">
	<li><a href="/posts/recursion-with-anonymous-functions-in-javascript.html">Recursion With Anonymous Functions in JavaScript</a></li>
</ul>