---
title: Tony Onodi
---

<h1>Posts</h1>
<ul class="post-list">
	<li><a href="/projects/lisp">A Lisp Interpreter Written in JavaScript</a></li>
	<li><a href="/posts/recursion-with-anonymous-functions-in-javascript">Recursion With Anonymous Functions in JavaScript</a></li>
</ul>
